# This is a template for the DSP login secrets. 
# Fill in the values and save it as new JSON in folder DSP_login_secrets with the name DSP_login_secrets_<TENANT>.json, 
# where TENANT is the name of your tenant (e.g. DEV, PROD, etc.).
{
    "client_id": "",
    "client_secret": "",
    "authorization_url": "",
    "token_url": "",
    "access_token": "",
    "refresh_token": "",
    "host": "",
    "browser": "",
    "authorization_flow": ""
}